/* Catppuccin Frappe theme https://catppuccin.com/palette */
:root {
    --base: #303446;
    --mantle: #292c3c;
    --crust: #232634;

    /* Text colors */
    --text: #c6d0f5;
    --subtext0: #a5adce;
    --subtext1: #b5bfe2;

    /* Overlay colors */
    --surface0: #414559;
    --surface1: #51576d;
    --surface2: #626880;

    /* Accent colors */
    --overlay0: #6c7086;
    --overlay1: #7c7f93;
    --overlay2: #8c8fa1;

    /* Colors */
    --blue: #8caaee;
    --lavender: #babbf1;
    --rosewater: #f2d5cf;
    --flamingo: #eebebe;
    --pink: #f4b8e4;
    --mauve: #ca9ee6;
    --red: #e78284;
    --maroon: #ea999c;
    --peach: #ef9f76;
    --yellow: #e5c890;
    --green: #a6d189;
    --teal: #81c8be;
    --sky: #99d1db;

    background-color: var(--base);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rethink Sans', sans-serif;
    background-color: var(--base);
    color: var(--text);
    margin: 0;
    margin-bottom: 40px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text);
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--teal);
}

/* Button styles */
button {
    background-color: var(--blue);
    color: var(--crust);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--sky);
}

/* Shop mockup */
.shop-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    max-width: 1500px;
    width: 100%;
}

.shop-item {
    border: 2px solid var(--surface2);
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s;
}

.shop-item img {
    max-width: 100%;
    border-radius: 4px;
}

.shop-item.selected {
    border-color: var(--green);
    background-color: var(--surface0);
}

.shop-item:hover {
    background-color: var(--surface0);
}

.filter-container {
    margin-bottom: 16px;
}

.shop-item-image {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
}

.shop-item-image:hover {
    transform: scale(1.1);
}

.doubloon {
    display: inline-block;
    vertical-align: middle;
}

#title {
    color: var(--yellow);
}

#locationFilter {
    background-color: var(--surface0);
    border: 3px solid var(--mantle);
    border-radius: 6px;
    color: var(--text);
}

.not-available:hover {
    cursor: not-allowed;
}

.not-available {
    border: 2px solid var(--red);
}

.container {
    padding: 15px;
    border: 2px solid var(--surface2);
    border-radius: 8px;
    background-color: var(--surface1);
    text-align: left;
    color: var(--text);
    max-width: 900px;
    margin: 0 auto 20px;
}

.container h2 {
    color: var(--yellow);
}

#projectForm {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#projectForm input {
    padding: 10px;
    border: 2px solid var(--surface2);
    border-radius: 5px;
    background-color: var(--surface0);
    color: var(--text);
    font-size: 14px;
}

#projectName {
    flex: 2;
    min-width: 250px !important;
}

#isBlessed {
    min-width: 40px !important;
    min-height: 40px;
    background-color: var(--yellow);
    flex: 0;
}

#isBlessed:checked ~ button {
    background-color: var(--yellow);
}

#isBlessed:checked ~ button:hover {
    background-color: var(--flamingo);
}

#projectForm button {
    background-color: var(--blue);
    color: var(--crust);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#projectForm button:hover {
    background-color: var(--sky);
}

.projects-list {
    list-style-type: none;
    padding: 0;
}

#totalEarnings, #goalName {
    font-weight: bold;
    color: var(--lavender);
}

.projects-list li:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 0;
    width: max-content;
    padding: 5px;
    background-color: var(--overlay0);
    color: var(--text);
    font-size: 12px;
    border: 1px solid var(--surface2);
    border-radius: 4px;
    z-index: 1;
    white-space: nowrap;
}

.projects-list li {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid var(--surface2);
    border-radius: 4px;
    background-color: var(--surface0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-info {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.project-remove-btn {
    background-color: var(--red);
    color: var(--crust);
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
    max-width: 65px;
}

.project-remove-btn:hover {
    background-color: var(--mauve);
}

.project-edit-btn {
    background-color: var(--teal);
    color: var(--crust);
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
    max-width: 65px;
}

.project-edit-btn:hover {
    background-color: var(--sky);
}

.info {
    line-height: 0.1;
    display: flex;
    align-items: center;
    gap: 4px;
}

#projectsContainer > .info {
    margin-top: 7px;
    margin-bottom: 7px;
}

.project-form {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.project-form input {
    flex: 1 1 100%;
    min-width: 100px;
    padding: 12px;
    font-size: 1rem;
    border: 2px solid var(--surface2);
    border-radius: 4px;
}

.project-form button {
    flex: 1 1 auto;
    padding: 12px;
    font-size: 1rem;
    background-color: var(--blue);
    color: var(--crust);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.project-form button:hover {
    background-color: var(--sky);
}

/* Media queries for larger screens */
@media (min-width: 900px) {
    .project-form {
        flex-wrap: nowrap;
    }

    .project-form input {
        flex: 2 1 auto;
    }

    .project-form button {
        flex: 1 1 auto;
    }
}

@media (max-width: 527px) {
    .shop-item {
        width: 75% !important;
    }
}

/* Media queries for very small screens */
@media (max-width: 480px) {
    .project-form input, 
    .project-form button {
        flex: 1 1 100%;
    }
}

/* Media queries for small screens */
@media (max-width: 620px) {
    #goalImage {
        display: block;
        float: none !important;
    }

    #projectsContainerTop {
        flex-direction: column !important;
        align-items: center;
        width: 100%;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column !important;
        width: 100%;
        max-width: 500px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #projectsContainerTop .customButton {
        flex: 1;
        margin: 0 5px;
        max-width: 500px;
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--blue);
    color: var(--mantle);
    text-decoration: none;
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    transition: all 0.2s ease;
    text-align: center;
    line-height: 50px;
}

#scrollToTop:hover {
    transform: scale(1.1);
    background-color: var(--teal);
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

#goalImage {
    width: 140px;
    height: auto;
    float: right;
}

.blessedProject .projectNameInfo {
    color: var(--rosewater) !important;
}

#projectsContainerTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#projectsContainerTitle {
    flex: 1;
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
}

.project-button-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#projectsContainerTop .customButton {
    flex: 0 0 auto;
    transition: background-color 0.3s;
}

#importButton {
    background-color: var(--green);
}

#exportButton {
    background-color: var(--mauve);
}

#importButton:hover {
    background-color: var(--sky);
}

#exportButton:hover {
    background-color: var(--lavender);
}

.form-submit-container {
    display: flex;
    gap: 10px;
    flex: auto;
    flex-direction: row;
}

.unexpanded > .project-info {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.unexpanded > span {
    flex: 1;
}

.unexpanded > .project-info > .label {
    display: none !important;
}

.unexpanded > .project-info > .value {
    background-color: var(--surface1);
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 15px;
}

.unexpanded > .project-button-container {
    flex-direction: row;
}

.project-info > .label {
    font-weight: bold;
    color: var(--subtext1)
}
